<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjyt.game.vivo"
    android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--联运SDK跳转游戏中心-->
    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS" />
    <!--联运SDK监听网络状态变化，在支付登录过程中做一些异常处理-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取imei 这个要动态获取 否则数据统计会异常-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--联运sdk写入内容到sd卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--强制安装联运APK时，需要从SDK中读取APK文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--判断游戏是否是在主进程初始化，避免初始化进程错误导致功能不可用-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--获取安装权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--可选权限-->
    <!--如果需要精确定位的话请加上此权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 熄屏后唤醒需要加此权限，并且需要保证开启android.permission.WAKE_LOCK-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 用于横幅的全屏通知权限 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- 用于弹出悬浮窗的后台权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 用于弹出悬浮窗的悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 防止进程被杀的电量优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- 如果接入了视频相关的广告, 请务必添加否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.cocos2dx.javascript.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true">
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2djs" />
        <meta-data
            android:name="vivo_union_sdk"
            android:value="4.6.0.4"/>

        <activity
            android:name="org.cocos2dx.javascript.AppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- vivo sdk componets start -->
        <!--vivo sdk的Activity-->
        <activity
            android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="union.vivo.com"
                    android:path="/openjump"
                    android:scheme="vivounion"/>
            </intent-filter>
        </activity>
        <!-- vivo sdk componets end -->

        <activity
            android:name="org.cocos2dx.javascript.WebActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="standard"
            android:exported="true">
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true"
            android:launchMode="standard">
        </activity>

        <!--自定义熄屏弹出通知窗口 -->
        <activity
            android:name="org.cocos2dx.javascript.AlarmActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <!--vivo广告的app外浮窗 -->
        <activity
            android:name="org.cocos2dx.javascript.AdActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <!--自定义熄屏弹出通知窗口的弹出控制服务 -->
        <service
            android:name="org.cocos2dx.javascript.services.RegisterServService"
            android:enabled="true"
            android:exported="true" />
        <!--自定义浮窗控制服务 -->
        <service
            android:name="org.cocos2dx.javascript.services.FloatWindowService"
            android:enabled="true"
            android:exported="true" />
        <!--双保活 -->
        <service
            android:name="org.cocos2dx.javascript.services.LocalDaemonService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.cocos2dx.javascript.services.RemoteDaemonService"
            android:enabled="true"
            android:exported="true"
            android:process=":RemoteProcess" />
        <!--音频保活 -->
        <service
            android:name="org.cocos2dx.javascript.services.AudioDaemonService"
            android:enabled="true"
            android:exported="true"
            android:process=":AudioDaemon" />


        <!-- SDK webview 页面声明 -->
        <activity
            android:name="com.vivo.mobilead.web.VivoADSDKWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <!-- SDK webview 页面声明-->

        <!--如果接入了新版激励视频，这个必须配置，否则应用会崩溃 -->
        <activity
            android:name="com.vivo.mobilead.unified.reward.RewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <!--如果接入了插屏视频，这个必须配置，否则应用会崩溃 -->
        <activity
            android:name="com.vivo.mobilead.unified.interstitial.InterstitialVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.cocos2dx.javascript.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <provider
            android:name="com.vivo.mobilead.manager.VivoContentProvider"
            android:authorities="${applicationId}.vivoprovider"
            android:exported="false" />
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <!--用于判断 sdk 版本，android:value 指为 sdk 版本号-->
        <meta-data
            android:name="vivo_ad_version_code"
            android:value="4821" />
    </application>

</manifest>
